.form-group label
{
    font-size: 40px;
    line-height: 5ve0px;
    font-weight: 600;
    margin-bottom: 30px;
}
.mt_100
{
    margin-top: 100px;
}
.border
{
    border: 2px solid #f8f8f8;
    padding: 50px;
}
.form-group
{
    margin-bottom: 30px;
}